* {
  color: var(--theme-text-color);
  font-family: var(--theme-main-font);
  font-size: var(--theme-font-size);
}

#root,
.rt-app {
  height: 100%;
}

// [ TAB MODE ]
//-------------------------------------
body:not(.rt-tab-mode) {
  a,
  select,
  input,
  textarea,
  button {
    &:focus {
      outline: none;
    }
  }
}
