@import '~styles/base/variables';
$rt-phone-form-subtitle-color: var(--theme-text-color-light);

.rt-phone-form {
  &__header {
    margin-bottom: $grid-offset-step * 7;

    text-align: center;
  }

  &__title {
    margin-top: $grid-offset-step * 3;

    font-size: 24px;
    font-weight: 700;
  }

  &__subtitle {
    color: $rt-phone-form-subtitle-color;
  }

  &__logo {
    width: 100px;
    height: 100px;
  }

  &__label {
    margin-bottom: $grid-offset-step * 3;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}
