@import "~styles/base/variables";

.rt-code-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $grid-offset-step * 4;

  &__actions {
    display: grid;

    grid-column-gap: $grid-offset-step * 2;
    grid-template-columns: 1fr 1fr;
  }
}
