.rt-input {
  &__input {
    width: 100%;
    height: 38px;
    border: 0;
    border-bottom: 1px solid var(--theme-color-gray);

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}
