@import '~styles/base/variables';
$rt-label-title-color: var(--theme-text-color-light);

.rt-label {
  display: block;

  &__title {
    margin-bottom: $grid-offset-step;

    color: $rt-label-title-color;
    font-size: 14px;
    text-transform: lowercase;
  }
}
